doctype html
html(lang="ko")
    head
        title 미니멀 블로그
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        main
            a(href="/") 홈으로
            span &nbsp;&nbsp;|&nbsp;&nbsp;
            a(href=`/posts/${post._id}/edit`) 수정
            span &nbsp;&nbsp;|&nbsp;&nbsp;
            a(href=`/posts/${post._id}/delete`) 삭제
            h3=post.title
            h4 by #{post.author}
            h5=post.createdAt.toLocaleString()
            div=post.contents
            hr
            div
                if comment
                    form(method="POST" action=`/posts/${post._id}/${comment._id}/edit`)
                        input(placeholder="작성자" type="string" name="commenter" value=comment.commenter required=true)
                        input(placeholder="댓글 내용" type="string" name="comment" value=comment.comment required=true)
                        input(type="submit" value="확인")
                        a(href=`/posts/${post._id}`) 취소
                else
                    form(method="POST" action=`/posts/${post._id}/comments`)
                        input(placeholder="작성자" type="string" name="commenter" required=true)
                        input(placeholder="댓글 내용" type="string" name="comment" required=true)
                        input(type="submit" value="댓글 작성")
                if post.comments
                    each comment in post.comments.reverse()
                        div
                            span #{comment.commenter}님의 댓글
                            div #{comment.comment}
                        a(href=`/posts/${post._id}/${comment._id}/edit`) 수정
                        span &nbsp;&nbsp;|&nbsp;&nbsp;
                        a(href=`/posts/${post._id}/${comment._id}/delete`) 삭제
                        div &nbsp;
                    else
                        div
